<h1>Posts#index</h1>

<% @posts.each do |post| %>
  <div>
    <p>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_spot_image, size: '250x150' %>
    <% end %>
    </p>
    <p>スポット名：<%= post.name %></p>
    <p><%= render "public/likes/btn", post: post %></p>
    <p>コメント数： <%= post.comments.count %></p>
    <!--<p>スポット説明：<%= post.explanation %></p>-->
    <!--<p>投稿ユーザー画像<p>-->
    <!--<p>ユーザーネーム</p>-->
  </div>
<% end %>
