<div class="container">
 <div class="row mt-4">

  <div class='col-sm-12'>
     <%= link_to users_mypage_path(@post.user) do %>
      <%= image_tag @post.user.get_profile_image, style: "border-radius: 50%; width: 50px; height: 50px; object-fit:cover;" %>
      <%= @post.user.name %>
     <% end %>
  </div>

  <div class='col-sm-12 col-lg-5 pt-3'>
   <%= image_tag @post.get_spot_image, size: '510x340'%>
   投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %>
  </div>

  <div class ='col-sm-12 col-lg-5 offset-md-1 pt-3'>
   <div>
    <h2 class='font-weight-bold border-bottom border-dark'><%= @post.name %></h2>
   </div>
   <p class='font-weight-bold pt-3'><%= @post.explanation %></strong></p>

   <div class='mt-4 border-top border-secondary'>
      ジャンル : <%= @post.genre.name %>

      <% @post.tags.each do |tag| %>
       <%= tag.tag_type %>
      <% end %>
   </div>
   
    <div class="d-flex flex-row bd-highlight mt-4">
      <div id="like_btn_<%= @post.id %>"><%= render "public/likes/btn", post: @post %></div>
      <div class='ml-3', id="comment_counter"><%= render "public/comments/counter", post: @post %></div>
    </div>
    
    <div class='mt-2'>
      <% if @post.user == current_user %>
       <%= link_to '投稿編集', edit_post_path, class: "btn btn-sm btn-success" %>
      <% end %>
      <% if @post.user == current_user %>
       <%= link_to '投稿削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger ml-2"%>
      <% end %>
    </div>
  </div>
  
  <div class='col-sm-12 col-lg-4 pt-3 pb-2'>
    <div><%= render "map", post: @post %></div>
  </div>
  
  <div class='col-sm-12 col-lg-6 offset-md-1 pt-5 pb-2'>
    <div class='pb-2 border-bottom border-secondary'>
     <%= render "public/comments/form", post: @post, comment: @comment %>
    </div>
    <div class='mt-3' id="comment_index">
     <%= render "public/comments/index", post: @post %>
    </div>
  </div>
 </div>
</div>