<div class="container">
<div class="row">
<table class='table'>
 
  		  <tr>
       <td>
        <%= link_to users_mypage_path(@post.user) do %>
         <%= image_tag @post.user.get_profile_image, style: "border-radius: 50%; width: 50px; height: 50px; object-fit:cover;" %>
         <%= @post.user.name %>
        <% end %>
       </td>
      </tr>
      
      <tr>
       <td>
        <h4><strong><%= @post.name %></strong></h4>
       </td>
      </tr>
      
      <tbody>
       <tr>
          <td>
           <%= image_tag @post.get_spot_image, size: '500x300'%>
          </td>
          <td>ジャンル : <%= @post.genre.name %></td>
          <td>スポット説明：<%= @post.explanation %></td>
          <td id="like_btn_<%= @post.id %>"><%= render "public/likes/btn", post: @post %></td>
          <td id="comment_counter"><%= render "public/comments/counter", post: @post %></td>
          <td>
           <% @post.tags.each do |tag| %>
            <%= tag.tag_type %>
           <% end %>
          </td>
          <td>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></td>
       </tr>
       <tr>
        <td>住所 : <%= @post.address %></td>
       </tr>
      </tbody>
        <tr>
          <td>
            <% if @post.user == current_user %>
             <%= link_to 'Edit', edit_post_path, class: "btn btn-sm btn-success" %>
            <% end %>
            <% if @post.user == current_user %>
             <%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
            <% end %>
          </td>
        </tr>
</table>

<div>
 <%= render "public/comments/form", post: @post, comment: @comment %>
</div>
<div id="comment_index">
 <%= render "public/comments/index", post: @post %>
</div>

</div>
</div>