<div class="container">
 <div class="row mt-3">
  <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 mx-auto">
   <h3 class="text-center mt-5"><strong>新規登録</strong></h3>
  </div>
 </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

 <div class="row offset-md-5 pt-5">
  <div class="field">
    <%= f.label :'ニックネーム' %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
 </div>
  
 <div class="row offset-md-5">
  <div class="field">
    <%= f.label :'メールアドレス' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
 </div>

 <div class="row offset-md-5">
  <div class="field">
    <%= f.label :'パスワード' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
 </div>

 <div class="row offset-md-5">
  <div class="field">
    <%= f.label :'パスワード(確認用)' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
 </div>

 <div class="row offset-md-5">
  <div class="actions mt-4">
    <%= f.submit "新規登録", class: "btn btn-dark" %>
  </div>
<% end %>
 </div>

 <div class="row offset-md-5 pt-2">
  <%= render "public/shared/links" %>
 </div>

</div>