<div class="container border border-white contents-area bg-white">
  <div class="row mt-5 mb-5">
    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 mx-auto">
      
    <h3 class="text-center"><strong class="">会員一覧</strong></h3>

      <table class="table table-border contents-area mt-5">
        <thead class="table-active">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

       <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, admin_user_path(user.id) %></td>
            <td><%= user.email %></td>
            <td><%= user.user_status %></td>
          </tr>
       </tbody>
      <% end %>
      <%= paginate @users %>
      </table>
      </div>
    </div>
  </div>

  <%= paginate @users %>
