<div class="container">
 <div class="row mt-3">
  <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 mx-auto">
   <h3 class="text-center mt-5"><strong>ログイン</strong></h3>
  </div>
 </div>
 
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <div class="row offset-md-5 pt-5">
  <div class="field">
    <%= f.label :'メールアドレス' %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
 </div>
 
 <div class="row offset-md-5">
  <div class=" field mt-3">
    <%= f.label :'パスワード' %><br>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
 </div>

 <div class="row offset-md-5">
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
 </div>

 <div class="row offset-md-5">
  <div class="actions mt-2">
    <%= f.submit "ログイン", class: "btn btn-dark" %>
  </div>
<% end %>
 </div>

 <div class="row offset-md-5 pt-2">
  <%= render "public/shared/links" %>
 </div>
 
</div>