<div class='container'>
 <div class='row'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    
<table class='table'>
  <tr><%= image_tag @user.get_profile_image, style: "border-radius: 50%; width: 200px; height: 200px; object-fit:cover;" %></tr>
  <tr>
	  <th>name</th>
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @user.introduction %></th>
  </tr>
</table>
 <div>
  <%= link_to "編集",users_information_edit_path(@user),class: "btn btn-outline-secondary btn-block edit_user_#{@user.id}" %>
 </div>
 <div>
  <%= link_to "新規投稿",new_post_path,class: "btn btn-outline-success btn-block edit_user_#{@user.id}" %>
 </div>
 
  </div>
 </div>
</div>

<% @posts.each do |post| %>
  <div>
    <p>
      <%= link_to users_mypage_path(post.user) do %>
          <%= image_tag post.user.get_profile_image, style: "border-radius: 50%; width: 50px; height: 50px; object-fit:cover;" %>
          <%= post.user.name %>
      <% end %>
    </p>
    <p><%= link_to post_path(post.id) do %>
      <%= image_tag post.get_spot_image, size: '250x150' %>
    <% end %>
    </p>
    <p><%= link_to post_path(post.id) do %>
      スポット名：<%= post.name %>
      <% end %>
    </p>
    <p id="like_btn_<%= post.id %>"><%= render "public/likes/btn", post: post %></p>
    <p>コメント数： <%= post.comments.count %></p>
    <!--<p>スポット説明：<%= post.explanation %></p>-->
  </div>
<% end %>